<aside class="sidebar">
  <div class="sidebar-header">
    <a class="navbar-brand" id="title"><i class="fas fa-tasks "></i> Todo App</a>
    <button class="sidebar-toggler" type="button" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="sidebar-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="fas fa-list"></i> Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/completed" routerLinkActive="active"><i class="fas fa-check"></i> Completed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active"><i class="fas fa-users"></i> Users</a>
      </li>
    </ul>
  </div>
</aside>
