.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #d4e5ed;
  color: #007bff;
  padding-top: 70px; /* Aggiunto spazio sopra l'header */
  z-index: 1000;
  transition: width 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunto ombra per definire la separazione dalla pagina */
}

.sidebar-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Allinea il brand e il toggler */
}

.sidebar-header a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.5rem; /* Aumentato la dimensione del font */
}

.sidebar-toggler {
  color: #007bff;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem; /* Aumentato la dimensione del font */
}

.sidebar-body {
  padding: 20px;
}

.nav-link {
  color: #007bff;
  padding: 10px 20px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #459cfa;
}

.active .nav-link {
  font-weight: bold;
}

#title {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
